

#profilepic{
    display: block;
    margin:0 auto;
    border: 2px solid  rgb(0, 0, 0);
    box-shadow: 0 4px 8px  rgb(0, 0, 0);
    border-radius: 30px;
    width: 150px;
    height: 150px;
    object-fit: cover;
} 



#resume-output{
    max-width: 80vw;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#resume-output h2{
  color: black;

}


#resume-output{
    padding: 30px;
    margin-top:20px
}








*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(0, 0, 0);
    background-image: url(background\ \ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}

form{
    max-width: 80vw;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    padding: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
}

fieldset{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:rgb(255, 255, 255);
    font-size: 20px;
}


legend{
    font-weight: bold;
    text-align: left;
    color: black;
}

label{
    display: block;
    margin-top: 10px ;
    color:black;
 
}
section{
    padding: 10px;
}

input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
  
   
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #038FE4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;

}

button:hover{
    background-color:#003d63;
}


